[submodule "src/service-broker"]
	path = src/service-broker
	url = https://github.com/PaaS-TA/PAAS-TA-API-GATEWAY-SERVICE-BROKER
[submodule "src/ap-api-gateway-broker"]
	path = src/ap-api-gateway-broker
	url = https://github.com/K-PaaS/ap-api-gateway-broker
	branch = kpaas
